.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  // justify-content: space-between;
}
.advantages__item {
  @media screen and (max-width: 767px) {
    & + & {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.advantages__visuall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages__heder {
  color: #212121;
  @include font(14px, bold, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  // text-align: center;
}
.advantages__text {
  @include font(14px, normal, 24px);
  letter-spacing: 0.03em;
  color: #777675;
}
