.section {
  @media screen and (max-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 481px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  border: 1px solid red;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // @media screen and (max-width: 576px) {
  //   width: 576px;
  @media screen and (min-width: 480px) {
    width: 480px;
    // background-color: rgb(166, 211, 166);
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    // background-color: rgb(178, 228, 233);
    // @media screen and (max-width: 960px) {
  }

  // @media screen and (min-width: 961px) {
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.main-button {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-color);
  color: var(--white-color);
  @include font(16px, bold, 30px);
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-width: 0px;
  /* transition: var(--main-transition); */
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--white-color);
    color: var(--accent-color);
  }
}
.container__tittle {
  /* background-color: tomato; */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 480px) {
    @include font(28px, bold, 33px);
    margin-bottom: 30px;
  }
  @media screen and (min-width: 481px) {
    @include font(36px, bold, 42px);
    margin-bottom: 50px;
  }
}
.text__uppercase {
  font-family: var(--main-fond);
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  @media screen and (max-width: 480px) {
    text-align: left;
    @include font(14px, 700, 16px);
  }
  @media screen and (min-width: 481px) {
    @include font(14px, bold, 16px);
    text-align: center;
  }
}
