.logo__Web {
  color: var(--accent-color);
  // text-align: center;
}
.logo {
  letter-spacing: 0.03em;
  font-family: var(--secondary-fond);
  font-style: normal;
  @include font(26px, bold, 31px);
  @media screen and (min-width: 600px) {
    @include font(24px, bold, 28px);
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    // align-items: center;
    // display: flex;
    margin-right: 93px;
    @include font(26px, bold, 31px);
  }
}
.logo__Studio {
  color: #000000;
}
